<table>
  <thead>
    <tr>
      <th>Letter</th>
      <th>Total movies</th>
    </tr>
  </thead>
  <tbody>
    <% @letters.each do |_| %>
      <tr>
        <td><%= "TODO: letter" %></td>
        <td><%= "TODO: count" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

