<%- Movie.uncached do %>
  <%- 2.times do |i| %>
    <% log_debug "\nactors uncached #{i} {" %>

    <h3>Actors:</h3>
    <table>
      <tbody>
        <% @movie.actors.each do |actor| %>
          <tr>
            <td><%= actor.id %></td>
            <td><%= actor.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% log_debug "}\n" %>
  <% end %>
<% end %>
