<% log_debug "\npluck {" %>

<h3>Actors:</h3>
<table>
  <tbody>
    <% @movie.actors.pluck(:id, :name).each do |id, name| %>
      <tr>
        <td><%= id %></td>
        <td><%= name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% log_debug "}\n" %>


<% log_debug "\nactors {" %>

<h3>Actors:</h3>
<table>
  <tbody>
    <% @movie.actors.each do |actor| %>
      <tr>
        <td><%= actor.id %></td>
        <td><%= actor.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% log_debug "}\n" %>


