<% log_debug "\ids {" %>

<h3>Actors:</h3>
<table>
  <tbody>
    <% @movie.actor_ids.each do |id| %>
      <tr>
        <td><%= id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% log_debug "}\n" %>


<% log_debug "\npluck {" %>

<h3>Actors:</h3>
<table>
  <tbody>
    <% @movie.actors.pluck(:id) do |id| %>
      <tr>
        <td><%= id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% log_debug "}\n" %>


